@model List<Carola.DtoLayer.Dtos.LocationDtos.ResultLocationDto>

<section class="services-section pt_120 pb_90">
    <div class="container">
        <div class="section-title centred mb_60">
            <span class="sub-title">Hizmet Bölgelerimiz</span>
            <h2 class="title">Hizmet Verdiğimiz Şehirler</h2>
        </div>
        <div class="row">
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="services-block-one">
                            <h6 class="service-title" style="height: 45px; overflow: hidden;">
                                <a href="#">@item.LocationName, @item.City</a>
                            </h6>
                            <div class="services-iamge">
                                <img src="@item.ImageUrl" alt="@item.LocationName"
                                     style="width:100%; height:200px; object-fit:cover;"
                                     onerror="this.src='/carola/carola/assets/images/service/service-image-1.jpg'">
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Lokasyon bulunamadı.</p>
            }
        </div>
    </div>
</section>