

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Carola - HTML 5 Template Preview</title>

    <link href="~/carola/carola/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/carola/carola/assets/css/fontawesome-all.css" rel="stylesheet">
    <link href="~/carola/carola/assets/css/iconfont.css" rel="stylesheet">
    <link href="~/carola/carola/assets/css/owl.css" rel="stylesheet">
    <link href="~/carola/carola/assets/css/global.css" rel="stylesheet">
    <link href="~/carola/carola/assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/carola/carola/assets/css/elements-css/header.css" rel="stylesheet">
    <link href="~/carola/carola/assets/css/elements-css/footer.css" rel="stylesheet">
    <link href="~/carola/carola/assets/css/elements-css/booking-form.css" rel="stylesheet">
    <link href="~/carola/carola/assets/language-switcher/polyglot-language-switcher.css" rel="stylesheet" />
    <link href="~/carola/carola/assets/css/daterangepicker.css" rel="stylesheet">
    <link href="~/carola/carola/assets/css/jquery-ui.css" rel="stylesheet">
    <link href="~/carola/carola/assets/css/style.css" rel="stylesheet">
    <link href="~/carola/carola/assets/css/responsive.css" rel="stylesheet">

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="~/carola/carola/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/carola/assets/images/favicon.png" type="image/x-icon">
    <!-- End Fav Icon -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <!-- End Google Fonts -->

</head>