
<section class="featured-car-section pt_120 pb_90" style="background-image: url(~/carola/carola/assets/images/background/most-popular-car.jpg);">
    <div class="container">
        <div class="section-title centred mb_60">
            <span class="sub-title">Featured Cars</span>
            <h2 class="title">Featured Cars</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-featured-car-block style_two">
                    <div class="single-featured-car-image">
                        <a href="#"><img src="~/carola/carola/assets/images/featured-car/featured-car-4.jpg" alt=""></a>
                    </div>
                    <div class="single-featured-car-content">
                        <div class="single-featured-car-rating"><i class="icon-9"></i>4.8</div>
                        <h5 class="single-featured-car-title"><a href="`#">Toyota Land Cruiser</a></h5>
                        <div class="single-featured-car-rent-per-day-2"><span>$49</span>/ Day</div>
                        <div class="border-divider"></div>
                        <div class="featured-car-info-outer">
                            <ul class="single-featured-car-info">
                                <li><i class="icon-6"></i>Petrol</li>
                                <li><i class="icon-30"></i>Auto</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-28"></i>6 km/Litre</li>
                                <li><i class="icon-29"></i>4 Doors</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-8"></i>5 Seat</li>
                                <li><i class="icon-7"></i>2020</li>
                            </ul>
                        </div>
                        <div class="single-featured-car-book-btn"><a href="" class="btn-style-three">Rent now</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-featured-car-block style_two">
                    <div class="single-featured-car-image">
                        <a href="#"><img src="~/carola/carola/assets/images/featured-car/featured-car-5.jpg" alt=""></a>
                    </div>
                    <div class="single-featured-car-content">
                        <div class="single-featured-car-rating"><i class="icon-9"></i>4.8</div>
                        <h5 class="single-featured-car-title"><a href="`#">Toyota Land Cruiser</a></h5>
                        <div class="single-featured-car-rent-per-day-2"><span>$49</span>/ Day</div>
                        <div class="border-divider"></div>
                        <div class="featured-car-info-outer">
                            <ul class="single-featured-car-info">
                                <li><i class="icon-6"></i>Petrol</li>
                                <li><i class="icon-30"></i>Auto</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-28"></i>6 km/Litre</li>
                                <li><i class="icon-29"></i>4 Doors</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-8"></i>5 Seat</li>
                                <li><i class="icon-7"></i>2020</li>
                            </ul>
                        </div>
                        <div class="single-featured-car-book-btn"><a href="" class="btn-style-three">Rent now</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-featured-car-block style_two">
                    <div class="single-featured-car-image">
                        <a href="#"><img src="~/carola/carola/assets/images/featured-car/featured-car-6.jpg" alt=""></a>
                    </div>
                    <div class="single-featured-car-content">
                        <div class="single-featured-car-rating"><i class="icon-9"></i>4.8</div>
                        <h5 class="single-featured-car-title"><a href="`#">Toyota Land Cruiser</a></h5>
                        <div class="single-featured-car-rent-per-day-2"><span>$49</span>/ Day</div>
                        <div class="border-divider"></div>
                        <div class="featured-car-info-outer">
                            <ul class="single-featured-car-info">
                                <li><i class="icon-6"></i>Petrol</li>
                                <li><i class="icon-30"></i>Auto</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-28"></i>6 km/Litre</li>
                                <li><i class="icon-29"></i>4 Doors</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-8"></i>5 Seat</li>
                                <li><i class="icon-7"></i>2020</li>
                            </ul>
                        </div>
                        <div class="single-featured-car-book-btn"><a href="" class="btn-style-three">Rent now</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-featured-car-block style_two">
                    <div class="single-featured-car-image">
                        <a href="#"><img src="~/carola/carola/assets/images/featured-car/featured-car-7.jpg" alt=""></a>
                    </div>
                    <div class="single-featured-car-content">
                        <div class="single-featured-car-rating"><i class="icon-9"></i>4.8</div>
                        <h5 class="single-featured-car-title"><a href="`#">Toyota Land Cruiser</a></h5>
                        <div class="single-featured-car-rent-per-day-2"><span>$49</span>/ Day</div>
                        <div class="border-divider"></div>
                        <div class="featured-car-info-outer">
                            <ul class="single-featured-car-info">
                                <li><i class="icon-6"></i>Petrol</li>
                                <li><i class="icon-30"></i>Auto</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-28"></i>6 km/Litre</li>
                                <li><i class="icon-29"></i>4 Doors</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-8"></i>5 Seat</li>
                                <li><i class="icon-7"></i>2020</li>
                            </ul>
                        </div>
                        <div class="single-featured-car-book-btn"><a href="" class="btn-style-three">Rent now</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-featured-car-block style_two">
                    <div class="single-featured-car-image">
                        <a href="#"><img src="~/carola/carola/assets/images/featured-car/featured-car-8.jpg" alt=""></a>
                    </div>
                    <div class="single-featured-car-content">
                        <div class="single-featured-car-rating"><i class="icon-9"></i>4.8</div>
                        <h5 class="single-featured-car-title"><a href="`#">Toyota Land Cruiser</a></h5>
                        <div class="single-featured-car-rent-per-day-2"><span>$49</span>/ Day</div>
                        <div class="border-divider"></div>
                        <div class="featured-car-info-outer">
                            <ul class="single-featured-car-info">
                                <li><i class="icon-6"></i>Petrol</li>
                                <li><i class="icon-30"></i>Auto</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-28"></i>6 km/Litre</li>
                                <li><i class="icon-29"></i>4 Doors</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-8"></i>5 Seat</li>
                                <li><i class="icon-7"></i>2020</li>
                            </ul>
                        </div>
                        <div class="single-featured-car-book-btn"><a href="" class="btn-style-three">Rent now</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-featured-car-block style_two">
                    <div class="single-featured-car-image">
                        <a href="#"><img src="~/carola/carola/assets/images/featured-car/featured-car-9.jpg" alt=""></a>
                    </div>
                    <div class="single-featured-car-content">
                        <div class="single-featured-car-rating"><i class="icon-9"></i>4.8</div>
                        <h5 class="single-featured-car-title"><a href="`#">Toyota Land Cruiser</a></h5>
                        <div class="single-featured-car-rent-per-day-2"><span>$49</span>/ Day</div>
                        <div class="border-divider"></div>
                        <div class="featured-car-info-outer">
                            <ul class="single-featured-car-info">
                                <li><i class="icon-6"></i>Petrol</li>
                                <li><i class="icon-30"></i>Auto</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-28"></i>6 km/Litre</li>
                                <li><i class="icon-29"></i>4 Doors</li>
                            </ul>
                            <ul class="single-featured-car-info">
                                <li><i class="icon-8"></i>5 Seat</li>
                                <li><i class="icon-7"></i>2020</li>
                            </ul>
                        </div>
                        <div class="single-featured-car-book-btn"><a href="" class="btn-style-three">Rent now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>