
<section class="brand-section pt_120 pb_120">
    <div class="container">
        <div class="section-title-box">
            <div class="section-title">
                <span class="sub-title">Brands</span>
                <h2 class="title">Explore Premium Car Brands</h2>
            </div>
            <div class="show-all-btn">
                <a href="" class="btn-style-three">Show all Brands</a>
            </div>
        </div>
        <div class="brand-outer-box">
            <div class="single-brand-item">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/audi.png" alt="">
                </div>
                <div class="brand-title">
                    <h6>Audi</h6>
                </div>
            </div>
            <div class="single-brand-item">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/bmw.png" alt="">
                </div>
                <div class="brand-title">
                    <h6>BMW</h6>
                </div>
            </div>
            <div class="single-brand-item">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/mercedes-benz.png" alt="">
                </div>
                <div class="brand-title">
                    <h6>Mercedes Benz</h6>
                </div>
            </div>
            <div class="single-brand-item">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/tesla-motors.png" alt="">
                </div>
                <div class="brand-title">
                    <h6>Tesla Motors</h6>
                </div>
            </div>
            <div class="single-brand-item">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/volkswagen.png" alt="">
                </div>
                <div class="brand-title">
                    <h6>Volkswagen</h6>
                </div>
            </div>
            <div class="single-brand-item">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/porsche.png" alt="">
                </div>
                <div class="brand-title">
                    <h6>Porsche</h6>
                </div>
            </div>
        </div>
    </div>
</section>