<section class="brand-section-2 home-three">
    <div class="container-fulid">
        <div class="brand-outer-box-2">
            <div class="single-brand-item-2">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/brand-1.png" alt="">
                </div>
            </div>
            <div class="single-brand-item-2">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/brand-2.png" alt="">
                </div>
            </div>
            <div class="single-brand-item-2">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/brand-3.png" alt="">
                </div>
            </div>
            <div class="single-brand-item-2">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/brand-4.png" alt="">
                </div>
            </div>
            <div class="single-brand-item-2">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/brand-5.png" alt="">
                </div>
            </div>
            <div class="single-brand-item-2">
                <div class="brand-image">
                    <img src="~/carola/carola/assets/images/brands/brand-6.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>