@model List<Carola.DtoLayer.Dtos.SliderDtos.ResultSliderDto>


<section class="slider style_three">
    <div class="owl-carousel owl-nav-none owl_dots_none theme_carousel owl-theme"
         data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 7000, "smartSpeed": 1800, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "1" } , "1000":{ "items" : "1" }}}'>
        @foreach (var item in Model)
        {
            <div class="slide-item-content">
                <div class="slide-item content_left">
                    <div class="image-layer" style="background-image:url('@item.ImageUrl')">
                    </div>
                    <div class="container">
                        <div class="slider_content">
                            <h6 class="animate_up d-inline-block">Araç Kiralama</h6>
                            <h1 class="animate_left"> <span>@item.Title</span></h1>
                            <p class="description animate_right">@item.Description"</p>
                            <div class="button_all animate_down">
                                <a href="#" target="_blank" rel="nofollow" class="btn-style-four animated">İletişime Geçin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        
        
        
        
        }





         
        
       
    </div>
</section>