
<section class="why-chooseus-section pt_120 pb_90">
    <div class="shape-three"><img src="~/carola/carola/assets/images/shape/shape-3.png" alt=""></div>
    <div class="shape-four"><img src="~/carola/carola/assets/images/shape/shape-4.png" alt=""></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="section-title mb_60">
                    <span class="sub-title">We are the best</span>
                    <h2 class="title">Explore the world with your own way of driving</h2>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="why-chooseus-block">
                    <div class="why-chooseus-icon light">
                        <i class="icon-49"></i>
                    </div>
                    <h5 class="why-chooseus-title">Free Pick Up & Drop</h5>
                    <p class="why-chooseus-text">Your convenience matter. Complimentary pick-up and drop-off service for any your vehicle, a stress-free experience.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="why-chooseus-block">
                    <div class="why-chooseus-icon light">
                        <i class="icon-27"></i>
                    </div>
                    <h5 class="why-chooseus-title">24/7 Road Assistant</h5>
                    <p class="why-chooseus-text">No matter the time or place, and our 24/7 roadside assistance ensures you're never stranded. Drive confidently with support.</p>
                </div>
            </div>
        </div>
    </div>
</section>